<form class="form-signin" id="nicknameForm" action="/users/login" method="POST">
  <h1 class="h3 mb-3 font-weight-normal">ورود به بخش مدیریت</h1>
  <%- include("./includes/loginMessages.ejs") %>
  <label for="inputFullname" class="sr-only">آدرس ایمیل</label>
  <!-- <input
      type="email"
      name="email"
      id="inputEmail"
      class="form-control mb-2"
      placeholder="آدرس ایمیل"
      required
      autofocus
  /> -->
  <input
      type="text"
      name="fullname"
      id="inputFullname"
      class="form-control mb-2"
      placeholder=" نام کاربری "
      required
      autofocus
  />
  <label for="inputPassword" class="sr-only">کلمه عبور</label>
  <input
      type="password"
      name="password"
      id="inputPassword"
      class="form-control"
      placeholder="کلمه عبور"
      required
  />
  <div class="checkbox mb-3">
      <label>
          <input name="remember" type="checkbox" value="remember-me" /> من را به خاطر بسپار
      </label>
  </div>
  <div class="checkbox mb-3">
    <label>
        <a href="/users/register"> ثبت نام </a> 
    </label>
</div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
</form>